*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.game{
    height: 100vh;
}
.content{
    padding: 4rem;
}
.content h1{
    margin-bottom: 2rem;
}
.answer{
    margin-bottom: 1rem;
}
.answer input{
    margin-right: .5rem;
}
.submit{
    width: 100%;
    padding: 2rem 0;
    background-color: purple;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
.results{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    display: none;
}
.wrong{
    color: red;
}
.correct{
    color: green;
}
.play{
    padding: 1rem 2rem;
    background-color: purple;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    border-radius: .25rem;
}