body{
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.arrow{
    height: 150px;
    cursor: pointer;
    color: slategrey;
}
.right{
    transform: rotate(180deg);
}
.frame{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.slider{
border: 1px solid magenta;
display: flex;
transition: all 1s ease;
}
.image{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.btn-selector{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid slategrey;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}